.header{
    background-color: rgb(235, 235, 235);
    font-size: 25px;
    padding: 20px 50px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 50px;
}

.information{
    display: flex;
    padding: 100px;
    justify-content: space-around;
    gap: 50px;
}
.header-data{
    width: 60%;
}
.header-otherdata{
    width: 60%
}
.header-data h1{
    font-size: 50px;
    margin-bottom: 50px;
}
.header-data span{
    color: #BDA175;
}
.header-data h5{
    font-size: 20px;
    font-weight: 500;
}
.header-otherdata p{
    font-size: 20px;
}
.header-otherdata ul{
    padding: 20px 10px;
    list-style-type: none;
}
.header-otherdata li{
    padding: 10px 0;
}
li .icon{
    padding-right: 15px;
    color: #BDA175;
}
@media (max-width: 768px) {
    .information{
        flex-wrap: wrap;
        padding: 40px 0px;
        gap: 10px
    }
    .header-data{
        width: 90%;
    }
    .header-otherdata{
        width: 90%;
        padding:0
    }
}