body{
    margin:0;
    padding:0;
}

.slider{
    width:100%;
    height:85vh;
    position: relative;
    margin-top: 7vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
}
.slider img{
    width: 100%;
    height: 100%;
}
.slides{
    height: 85vh;
    display: flex;
}

.home{
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    width: 100%;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.684);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home .title{
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.home p{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.home a{
    background-color: #BDA175;
    border: 2px solid #BDA175;
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    margin-top: 5%;
    cursor: pointer;
    font-weight: bold;
}
.home a:hover{
    background-color: transparent;
    color: #BDA175;
    transition: 600ms;
}
@media(max-width:700px){
    .home a{
        padding: 10px 30px;
        border-radius: 31px;
        margin-top: 11%;
        cursor: pointer;
        font-weight: bold;
        font-size: 12px;
    }
    .home .title{
        font-size: 30px;
    }
    .home p{
        font-size: 13px;
    }
   
}