.international-page{
    min-height: 95vh;
    margin-top: 7vh;
    padding-bottom: 50px;
}
.full-paper{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}
.inter-card{
    background-color: rgb(242, 242, 242);
    width: 400px;
    min-height: 220px;
    border-radius: 25px;
    color: rgb(98, 98, 98);
    position: relative;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.inter-data{
    text-align: center;
}
.inter-data a{
    position: absolute;
    transform: translate(-50%);
    bottom: 10px;
    background-color: #bda17b;
    padding: 10px 25px;
    border-radius: 20px;
    color: white;
}