html{
    scroll-behavior: smooth;
}


.animate {
    position: relative;
    transform: translateY(60px);
    opacity:0;
    transition: all 2s ease;
}
.active{
    transform: translateY(0px);
    opacity:1;
}
