*{
    margin:0;
    padding:0;
    box-sizing: 0;
}

.nav li{
    list-style: none;
}
.nav .menu{
    padding:0;
}
.logo{
    font-style: italic;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
a{
    text-align: center;
    text-decoration: none;
    color: rgb(196, 196, 196);
}

.nav{
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #191A21;
    height: 7vh;
    box-shadow: 0px 0px 2px #eee;
    z-index: 100;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7vh;
}
.nav-toggler div{
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    background-color: #BDA175;
    transition: 0.4s ease-in;
}
.nav-toggler{
    cursor: pointer;
    display: none;
}
.dropdown-text:hover{
    color: #BDA175
}
.dropdown{
    display: flex;
    align-items: center;
    position: relative;
}
.dropdown-list{
    position:absolute;
    top:70px;
    background-color: white;
    min-width:160px;
    padding: 1rem;
    box-shadow: 0px 1px 11px #bcbcbc;
    opacity: 0;
    transition: top 0.4s;
    z-index: 99;
    visibility: hidden
}
.dropdown-list a{
    width: 100%;
    color: black;
}
.dropdown-list a:hover{
    color: #BDA175;
}
.dropdown-list::before{
    content: "";
    position: absolute;
    background-color:transparent;
    width: 50%;
    height: 20px;
    top: -20px;
    left:0;
    z-index: 0;
}
.dropdown:hover .dropdown-list{
    opacity:1;
    top: 30px;
    visibility: visible;
}
.dropdown-list li{
    padding: 0.5rem;
    cursor: pointer;
}

@media(max-width: 780px){
    .nav-toggler{
        display: block;
    }
    .menu{
        position: fixed;
        z-index: 1;
        top: 7vh;
        right: 0;
        width: 40%;
        flex-direction: column;
        background-color: #191A21;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        gap:0;
    }
    .nav-item{
        text-align: center;
        width: 100%;
        padding: 20px 0;
    }
    
}

.nav .active{
    transform: translateX(0);
}
.toggleIcon .line1{
    transform: rotate(-45deg) translate(-4px , 5px);
}
.toggleIcon .line2{
    opacity: 0;
}
.toggleIcon .line3{
    transform: rotate(45deg) translate(-5px , -6px);
}
