.members-page{
    min-height: 80vh;
}
.fullmembers{
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
.fullmembers .team-card{
    background-color:white;

}
.team-card{
    width: 500px;
    display: flex;
    height: 200px;
    background-color: white;
    align-items: center;
    padding: 20px;
    gap: 40px;
    border-radius: 10px;
}
.team-card img{
    width: 30%;
    height: 80%;
    border-radius: 15px;
}

.team-name{
    font-size: 20px;
    font-weight: bold;
}
.team-card:hover{
    box-shadow: 1px 1px 10px 10px #c4c4c4;
    transition: 0.5s ease-in-out;
}
.team-data{
    width: 70%;

}
hr{
    background-color: #dfdfdf;
    border:none;
    height: 1px;
    margin: 10px 0;
}
.team-job{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
@media(max-width: 700px){
    .about-header h1{
        font-size: 25px;
    }
    .team-part{
        padding: 20px
    }
    .team-part .header{
        font-size: 15px;
        margin:0;
    }
    .about-header h4{
        font-size: 15px;
        margin-bottom: 20px;
    }
}