.journal-page{
    min-height: 95vh;
    margin-top: 7vh;
    padding-bottom: 50px;
}
.year{
    border: 2px solid #eee;
    margin: 0 40px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}
.last-publish{
    margin: 40px;
    border: 1px solid #eee;
}
.full-data{
    margin: 30px 0;
}
.research-card{
    background-color: #f0f0f0;
    width: 250px;
    min-height: 220px;
    border-radius: 25px;
    color: rgb(98, 98, 98);
    position: relative;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}
.research-card a{
    background-color: #BDA175;
    color: white;
    padding: 10px 25px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 25px;
    border: 2px solid #BDA175;
    position: absolute;
    bottom: 0;
    transform: translate(-50% , -50%);
}
.pub a{
    background-color: #BDA175;
    color: white;
    padding: 5px 25px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 25px;
    border: 2px solid #BDA175;
}
.research-card a:hover{
    color: #BDA175;
    background-color: transparent;
}
.research-card:hover{
    transform: translateY(-5%);
    transition: 0.4s;
    box-shadow: 0px 0px 15px 3px #c2c2c2;
}
.full-data{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: start;
    padding: 0 10%;
}
.publish-list{
    text-align: center;
}
.data-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
}
.data-list:hover{
    background-color: #BDA175;
    color: white;
}
.journal-page ul{
    padding: 70px;
    list-style-type: none;
    display: none;
}
.dotted-desc{
    max-height: 130px;
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;

}